@charset "UTF-8";

/* Superior e os Menus */

body
{
    max-width: 100%;
 
}

#primo img
{
    width: 100%;
    height: 130px;
    margin: auto;
    left: 5px;
}

#primo h1
{
    display: inline-block;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-family: 'Almendra Display';
    color: rgb(123, 50, 192);
    font-size: 60px;
    left: 30%;
    top: -50px;
}

#primo p
{
    display: inline-block;
    position: absolute;
    font-style: oblique;
    font-weight: 900;
    font-family: "Almendra Display";
    color: rgb(70, 4, 133);
    font-size: 17px;
    left: 46%;
    top: 42px;
}

    /* Menus */

#primo ul
{
    text-decoration: none;
    list-style: none;
}

.menu
{
    display: block;
    position: relative;
    float: left;
    padding: 10px 15px;
    font-family: 'Dancing Script';
    font-size: 1.7em;
    top: -57px;
    left: 37%;
}

.menu a
{
    text-decoration: none;
    color: rgb(70, 4, 133);
    font-weight: 700;
}

.menu a:hover
{
    color: violet;
}
    /* Fim menus */ 
/* Fim Superior e menus */

/* Corpo principal do site */

.aviso img
{
    max-width: 99%;
    display: inline;
    margin-top: -65px;
    border: 5px solid rgba(238, 130, 238, 0.39);
    box-shadow: 3px 3px 5px rgb(70, 4, 133);
}
/* Fim do Corpo Principal do site */



/* Parte final do portal */

.final
{
    background-color:rgb(12, 1, 22);
    color: azure;
    margin-top: -2.7%;
    max-width: 100%;
}

.final h3
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4em;
}

.final p
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.4em;
    margin: -50px;
}

.final h5
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
}   

.final td
{

    padding: 0px 160px;
    max-width: 100%;
}

.final li
{
    font-size: 18px;
    padding: 5px;
    margin: 0px -30px;
    list-style: none;
    color: azure;
    text-align: left;
    max-width: 100%;
   
}

.final li a
{
    text-decoration: none;
    color: azure;
    background: rgb(12, 1, 22);;
}

.final li a:hover
{
    background-color: azure;
    color: black;
}
/* Fim da parte final do site */



/* Rodapé */


h4
{
   
    display: block;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    margin: 25px -150px

}

#rp1
{
    
    font-size: 14px;
    display: block;
    position: relative;
    margin: -15px -60px;
}

#rp2
{
    
    font-size: 14px;
    display: block;
    position: relative;
    margin: -15px -60px;
}

#social ul, #social ul li

{

    display: block;
    position: relative;
    padding: 0px 50px;
}

#social a:hover
{
    background-color: transparent;
}

/* fim rodapé */ 