body
{
    max-width: 100%;
 
}

#primo img
{
    width: 100%;
    height: 130px;
    margin: auto;
    left: 5px;
 
}

#primo h1
{
    display: inline-block;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-family: 'Almendra Display';
    color: rgb(123, 50, 192);
    font-size: 60px;
    left: 35%;
    top: -50px;
}

#primo p
{
    display: inline-block;
    position: absolute;
    font-style: oblique;
    font-weight: 900;
    font-family: "Almendra Display";
    color: rgb(70, 4, 133);
    font-size: 17px;
    left: 46%;
    top: 42px;
}

    /* Menus */

#primo ul
{
    text-decoration: none;
    list-style: none;
}

.menu
{
    display: block;
    position: relative;
    float: left;
    padding: 10px 15px;
    font-family: 'Dancing Script';
    font-size: 1.7em;
    top: -57px;
    left: 30%;
}

.menu a
{
    text-decoration: none;
    color: rgb(70, 4, 133);
    font-weight: 700;
}

.menu a:hover
{
    color: violet;
}

 /* Fim menus */

 /* Galeria */

 .galery_fest
 {
    background-color: rgba(238, 130, 238, 0.164);
 }

 .galery_fest h1
 {
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 3.8em;
    color: rgb(123, 50, 192);
    text-shadow: 1px 1px 3px violet;
    margin-top: -20px;
    padding-top: 75px ;
 }

 .galery_fest table
 {
    
    margin: auto;
 }  
 .galery_fest img
 {
     width: 200px;
     height: 200px;
     display: block;
     float: left;
     margin: 10px 40px;
     border: 5px solid white;
     box-shadow: 2px 2px 5px violet;
 }
 
 .galery_fest img:hover
 {
     transform: scale(1.4);
 }
 /* Formulario */ 

 form
{
    width: 100%;
    background-color: rgba(76, 0, 130, 0.068);
    padding: 80px 0px;
    margin-bottom: -150px;
}

form p
{
    font-family: 'Dancing Script';
    font-size: 1.7em;
    font-weight: 600;
    color:rgb(70, 4, 133);
    padding-left: 150px;
}

input, textarea
{
    font-family: 'Almendra Display';
    font-size: 0.8em;
    font-weight: 500;
    border-style: groove;
    box-shadow: 2px 2px 5px violet;
    color:black;
    border-radius: 20px;
}

textarea
{
    color: rgb(114, 8, 214);
    font-weight: 900;
}

#cnome, #cmail, #cassunto
{
    margin-top: 5px;
    border-radius: 50px;
}
#sms 
{
    display: block;
    position: absolute;
    left: 450px;
    margin-top: -300px;
}

#cmsg
{
    display: inline-block;
    position: absolute;
    left: 550px;
    margin-top: -250px;
    border-style: groove;
    box-shadow: 2px 2px 5px violet;
}

.btn
{
    font-family: 'Almendra Display';
    font-size: 24px;
    font-weight: 900;
    background-color: transparent;
    text-decoration: none;
    color: rgb(70, 4, 133);
    border-radius: 50px;
    border-color: rgb(70, 4, 133);
    position: absolute;
    margin-left: 540px;
    margin-top: -30px;
}

.btn:hover
{
    background-color:rgb(62, 15, 105);
    color: rgb(252, 137, 252);
    border-color: violet;
}

/* Fim formulario */

/* Rodapé */ 
.final
{
    background-color:rgb(12, 1, 22);
    color: azure;
    margin-top: 10%;
    max-width: 100%;
}
}

.final h3
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4em;
}

.final p
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.4em;
    margin: -50px;
}

.final h5
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
}   

.final td
{

    padding: 0px 160px;
    max-width: 100%;
}

.final li
{
    font-size: 18px;
    padding: 5px;
    margin: 0px -30px;
    list-style: none;
    color: azure;
    text-align: left;
   
}

.final li a
{
    text-decoration: none;
    color: azure;
    background: rgb(12, 1, 22);;
}

.final li a:hover
{
    background-color: azure;
    color: black;
}
/* Fim da parte final do site */



/* Rodapé */


h4
{
   
    display: block;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    margin: 25px -150px

}

#rp1
{
    
    font-size: 14px;
    display: block;
    position: relative;
    margin: -15px -60px;
}

#rp2
{
    
    font-size: 14px;
    display: block;
    position: relative;
    margin: -15px -60px;
}

#social ul, #social ul li

{

    display: block;
    position: relative;
    padding: 0px 50px;
}

#social a:hover
{
    background-color: transparent;
}

/* fim rodapé */ 