@charset "UTF-8";

/* Superior e os Menus */

body
{
    max-width: 1366;
    max-height: 768;
 
}

#primo img
{
    width: 1500px;
    height: 130px;
    margin: auto;
    left: 2px;
}

#primo h1
{
    display: inline-block;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-family: 'Almendra Display';
    color: rgb(123, 50, 192);
    font-size: 60px;
    left: 32%;
    top: -50px;
}

#primo p
{
    display: inline-block;
    position: absolute;
    font-style: oblique;
    font-weight: 900;
    font-family: "Almendra Display";
    color: rgb(70, 4, 133);
    font-size: 17px;
    left: 46%;
    top: 42px;
}

    /* Menus */

#primo ul
{
    text-decoration: none;
    list-style: none;
}

.menu
{
    display: block;
    position: relative;
    float: left;
    padding: 10px 20px;
    font-family: 'Dancing Script';
    font-size: 1.7em;
    top: -57px;
    left: 37%;
}

.menu a
{
    text-decoration: none;
    color: rgb(70, 4, 133);
    font-weight: 700;
}

.menu a:hover
{
    color: violet;
}
    /* Fim menus */ 
/* Fim Superior e menus */

/* Corpo principal do site */

.secon
{
    width: 100%;
    margin-top: -20px;
}

aside img
{
    display: inline;
    position: relative;
    margin: 0px;
    left: 24%;
    
}

aside p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 600;
    text-decoration: underline;
    display: inline;
    position: absolute;
    left: 79.8%;
    margin-top: 376px;
    
}

.txt
{
    font-family: 'Dancing Script';
    font-size: 1.7em;
    text-indent: 5%;
    color:rgb(70, 4, 133);
    width: 49%;
    display: block;
    position: absolute;
    margin: -375px 65px;
    padding-left: 2%;   
    border-left: violet solid;
}

    /* Menu de Projetos */

.menu2 table
{
    background-color: #f26a8c0c;
    width: 1500px;
}

.menu2 h2
{
    text-align: center;
    font-family: 'Dancing Script';
    text-decoration: overline;
    font-size: 4.2em;
    color:rgb(70, 4, 133);
    padding: 75px 0px;

}

.menu2 li
{
    display: block;
    float: left;
    font-family: 'Dancing Script';
    text-decoration: none;
    padding: 0px 50px
}

.menu2 li img
{
    width: 250px;
    height: 250px;
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
}

.menu2 li img:hover
{
    transform: scale(1.2);
}

.menu2 li p
{
   
    text-align: center;
    color: rgb(70, 4, 133);
    font-weight: 600;
    font-size: 1.2em;
    padding-top: 5px;
}

.menu2 li a
{
    text-decoration: none;
}

.menu2 li p:hover
{
    color: rgb(245, 92, 245);
}

/* Fim do Corpo Principal do site */



/* Parte final do portal */

.final
{
    background-color:rgb(12, 1, 22);
    color: azure;
    margin-top: 10%;
}

.final h3
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4em;
}

.final p
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.4em;
    margin: -50px;
}

.final h5
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
}   

.final td
{

    padding: 0px 170px;
}

.final li
{
    font-size: 18px;
    padding: 5px;
    margin: 0px -50px;
    list-style: none;
    color: azure;
    text-align: left;
   
}

.final li a
{
    text-decoration: none;
    color: azure;
    background: rgb(12, 1, 22);;
}

.final li a:hover
{
    background-color: azure;
    color: black;
}
/* Fim da parte final do site */



/* Rodapé */




h4
{
   
    display: block;
    position: relative;
    font-size: 1.2em;
    text-align: center;
    margin: 25px -150px

}

#rp
{
    
    font-size: 14px;
    display: block;
    position: relative;
    margin: -15px -60px;
}

#social ul, #social ul li

{

    display: block;
    position: relative;
    padding: 0px 50px;
}

#social a:hover
{
    background-color: transparent;
}

/* fim rodapé */ 